<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <header>
        <section id="header">
            <h1>SISTEMA VUELOS</h1>
        </section>
        
    </header>

        <nav id="topmenu">
            <ul>
                <li><a href="#"></a>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href="#"></a>@Html.ActionLink("Vuelos", "Index", "Vuelo")</li>
            </ul>
        </nav>

    <main>
        <aside id="izq">
            @if (IsSectionDefined("Izq"))
            {
                @RenderSection("Izq")
            }
            else
            {
               <img src="~/images/avion.jpg" />
               <img src="~/images/avion2.jpg" />
            }
        </aside>
        <article>
            @RenderBody()
        </article>
       
    </main>
    <footer>Info@vuelo.com</footer>
</body>
</html>